doctype html
html(lang='ru')
  head
    meta(charset='UTF-8')
    meta(name='viewport', content='width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0')
    meta(http-equiv='X-UA-Compatible', content='ie=edge')
    title Webpack 4 template
  body
    header
    main
      h1 Webpack 4 config
      ol
        li.less Настроить Webpack
        li.scss Собрать свой проект
        li Сверстать проект
        li ...
        li Profit
      div
        img(src='./img/smoke.png', alt='smoke')
      div.second
    footer
      h3 This is footer