/*
@font-face {
  font-family: "Circe";
  src: url("../fonts/Circe - Bold/Circe-Bold.eot"); !* IE9 Compat Modes *!
  src: url("../fonts/Circe - Bold/Circe-Bold.woff") format("woff"),
    !* Modern Browsers *! url("../fonts/Circe - Bold/Circe-Bold.ttf")
      format("truetype"),
    !* Safari, Android, iOS *! url("../fonts/Circe - Bold/Circe-Bold.svg")
      format("svg"); !* Legacy iOS *!
  font-weight: bold;
}

@font-face {
  font-family: "Circe";
  src: url("../fonts/Circe - Extra Bold/Circe-ExtraBold.eot"); !* IE9 Compat Modes *!
  src: url("../fonts/Circe - Extra Bold/Circe-ExtraBold.woff") format("woff"),
    !* Modern Browsers *! url("../fonts/Circe - Extra Bold/Circe-ExtraBold.ttf")
      format("truetype"),
    !* Safari, Android, iOS *!
      url("../fonts/Circe - Extra Bold/Circe-ExtraBold.svg") format("svg"); !* Legacy iOS *!
  font-weight: 800;
}
*/
